<body class="body">
    <header class="details_header"> 
        <nav class="details_nav list_style_none"> 
                <li><a class="td_none" href="./index.html"><img src="./img/back.svg" alt=""></a></li>
                <li><a class="td_none details_font1" href="./register.html">DETAILS</a> </li>
                <li class="details_opacity1"><a class="td_none home_font2" href="./land.html"><img src="./img/search_white.png" alt=""></a></li>
        </nav>
    </header>

    <main class="details_main"> 

       <section class="details_section1">
        <article class="details_section1_article">
            <div class="details_section1_article_box1">
                <figure>
                    <img src="./img/trashbin.png" alt="">
                </figure>
                <div class="details_section1_article_box1_details">
                    <p class="details_font2">Mac Donald Food</p> 
                </div>
            </div> 

            <div class="details_box1">
                <p class="details_font3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate cupiditate laborum molestias quo omnis laudantium hic quod quaerat labore? Cum doloribus minus illum ad! Nisi quod fuga omnis consequuntur deleniti.</p> 
            </div> 

            <div class="details_box2">
                <p class="details_font3 details_font4">Transaction N2525415462.</p>
                <p class="details_font5">11 Aug 2015 at 3:00pm</p>
            </div>

            <div class="details_box3">
                <p class="details_font3 details_font4">TOTAL PAYMENT </p> 
                <p class="details_font3 details_font4">$17.00</p> 
            </div>

        </article> 
       </section>
        
    </main> 

</body>











<%= render @payment %>

<div>
  <%= link_to "Edit this payment", edit_payment_path(@payment) %> |
  <%= link_to "Back to payments", payments_path %>

  <%= button_to "Destroy this payment", @payment, method: :delete %>
</div>